        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; MC-Mutual 2023</div>
                    <div>
                        <a href="#">Aviso Legal</a>
                        &middot;
                        <a href="#">Términos &amp; Condiciones</a>
                    </div>
                </div>
            </div>
        </footer>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

        <script src="{{ url_for('static', filename='dist/js/scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/assets/demo/chart-area-demo.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/assets/demo/chart-bar-demo.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='dist/js/datatables-simple-demo.js') }}"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
