/* app/static/css/styles.css */

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: #343a40; /* Bootstrap dark background color */
    padding-top: 20px;
    color: white;
}

#content {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
}

#info-bar {
    background-color: #f8f9fa; /* Bootstrap light background color */
    padding: 10px;
    border-bottom: 1px solid #dee2e6; /* Bootstrap border color */
}

#sidebar .nav-item a {
    color: white;
}

#sidebar .nav-item a:hover {
    background-color: #495057; /* Bootstrap secondary background color on hover */
}

#sidebar .nav-item a.active {
    background-color: #343a40; /* Bootstrap dark background color for active item */
}

#footer {
    background-color: #343a40; /* Bootstrap dark background color for the footer */
    color: white;
    padding: 20px 0;
}