<!-- app/templates/user/add.html -->

{% extends 'base.html' %}

{% block content %}

        <h2>Add User</h2>
        <form method="POST" action="{{ url_for('add_user') }}">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="username">Username:</label>
                {{ form.username(class="form-control", placeholder="Enter username") }}
                {% for error in form.username.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                {{ form.email(class="form-control", placeholder="Enter email") }}
                {% for error in form.email.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                {{ form.password(class="form-control", placeholder="Enter password") }}
                {% for error in form.password.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.language.label(class="form-control-label") }}
                {{ form.language(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Add User</button>
        </form>
        <a href="{{ url_for('list_users') }}" class="btn btn-secondary mt-3">Back to List</a>
{% endblock %}

