/* app/static/css/styles.css */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container-flex {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.row.content {
    flex: 1;
    min-height: 100vh; /* Esto asegura que el contenido ocupe al menos el 100% de la altura de la ventana gráfica */
}

/* fonts */

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin-top: 50px;
}
