<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>

    <h1>Dashboard Test</h1>
    <p>Bienvenido, {{ current_user.username }}!</p>
    <a href="{{ url_for('logout') }}">Cerrar sesión</a>


    <h2>Lista de Usuarios</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
</body>
</html>
